* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #222;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 1000px;
  height: 730px;
  display: grid;
  padding: 30px 40px 40px 40px;
  background-color: aquamarine;
}

.images-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border: 2px solid black;
  padding: 15px 15px;
}

.img-item {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 280px;
}

.lazy-load::after {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid #343434;
  border-top-color: rgb(6, 255, 97);
  animation: loader 1s linear infinite;
  position: absolute;
}

@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  width: 250px;
  padding: 18px;
  border: none;
  font-weight: 600;
  border-radius: 8px;
  background-color: dodgerblue;
  font-size: 20px;
  margin: 15px auto;
  display: block;
  cursor: pointer;
}
